<div class="match-selection">
    <div class="pp-background" data-url="<%= match.background.url %>" data-match-id="<%= match.id%>">
        <%= image_tag match.background.url%>
    </div>

    <%= render 'dominant_colors_swatch', color_profiles: match.normalized_colors %>

    <% if "#{rec}" == "true" %>
      <div class="rule-name"> Recommended Backdrop</div>
      <% end %>

    <!-- <div class="rule-name"><%= match.rule.name%></div> -->
    <!-- <div class="rule-name"><%= match.background.id%></div> -->

    <%= hidden_field_tag 'card_id_string', "#{card.id}" %>
    <%= hidden_field_tag "recommended[#{match.id}]", "#{rec}"%>


</div>