<%= form_with(model: survey, local: true) do |form| %>
  <% if survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="background">
    <div class="match-selection-container">
      <%= render 'background_selection', match: @best_match, card: @card, rec: true %>
      <%- @matches.each do |m| %>
        <%= render 'background_selection', match: m, card: @card, rec: false%>
      <%-end%>
    </div>
    <!-- set hidden field tag to be updated with value of last image clicked -->
    <%= hidden_field_tag "match_selection" , 'nil'%>
    <%= form.button :Submit, class: "button"%>
  </div>
<% end %>
