<%= stylesheet_link_tag "new_survey" %>
  <h1><%= @card.pp_id %></h1>

	<div class="card_container">
    <%= image_tag @card.url%>
	</div>



<%= render 'form', survey: @survey %> 


<%= form_with url: specific_surveys_path do |f| %>
  <%= f.text_field :card_id %>
  <%= f.submit value: "Enter new_paper_id" %>
<% end %>

<p>or</p> 

<FORM>
<INPUT TYPE="button" onClick="history.go(0)" VALUE="Regenerate Another Random Card">
</FORM>










