<%= stylesheet_link_tag "new_survey" %>
  <h1>Card ID: <%= @card.id %>, New_Paper ID: <%= @card.pp_id%> </h1>

	<div id="card_container" class="card_container">
    <%= image_tag @card.url%>
    <%= render 'dominant_colors_swatch', color_profiles: @card_swatch_colors %>
	</div>


<!-- Form to enter the survey responses -->
<%= render 'form', survey: @survey, card: @card %> 


<!-- Form to take you to new survey with specific card id -->
<%= form_with url: specific_surveys_path do |f| %>
  <%= f.text_field :card_id %>
  <%= f.submit value: "Enter card_id" %>
  <!-- Need to be able to enter new paper id -->
<% end %>

<p>or</p> 

<FORM>
<INPUT TYPE="button" onClick="history.go(0)" VALUE="Regenerate Another Random Card">
</FORM>






